<!--section class="text-gray-600 body-font">
    <div class="container px-5 py-0 mx-auto flex flex-wrap items-center">
      <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
        <div class="flex mb-4 mt-0">
          <span class="flex item-center">
              <img class="mb-4 lg:w-auto Lg:h-auto" src="../../../assets/images/slider2.jpg">
          </span>
        </div> 
        <h1 class="title-font font-medium text-3xl text-gray-900">{{titulo}}</h1>
        <p class="leading-relaxed mt-4">{{parrafo}}</p>
      </div>
      <div class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
        <h2 class="text-gray-900 text-lg font-medium title-font mb-5">{{register|uppercase}}</h2>
        <div class="relative mb-4">
          <label for="full-name" class="leading-7 text-sm text-gray-600">{{name|uppercase}}</label>
          <input type="text" id="full-name" name="full-name" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        <div class="relative mb-4">
          <label for="email" class="leading-7 text-sm text-gray-600">{{email|uppercase}}</label>
          <input type="email" id="email" name="email" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        <div class="relative mb-4">
          <label for="email" class="leading-7 text-sm text-gray-600">{{user|uppercase}}</label>
          <input type="email" id="email" name="email" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        <div class="relative mb-4">
            <label for="password" class="leading-7 text-sm text-gray-600">{{pass|uppercase}}</label>
            <input type="password" id="password" name="password" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
          <div class="relative mb-4">
            <label for="confirmpassword" class="leading-7 text-sm text-gray-600">{{confirmpass|uppercase}}</label>
            <input type="confirmpassword" id="confirmpassword" name="confirmpassword" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
        <button class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">{{register | uppercase}}</button>
        <p class="text-xs text-gray-500 mt-3">{{parrafo2}}</p>
      </div>
    </div>
  </section-->

  <!--section class="text-gray-600 body-font">
    <div class="container px-5 py-0 mx-auto flex flex-wrap items-center">
      <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
        <div class="flex mb-4 mt-0">
          <span class="flex item-center">
            <img class="mb-4 lg:w-auto Lg:h-auto" src="../../../assets/images/slider2.jpg">
          </span>
        </div>
        <h1 class="title-font font-medium text-3xl text-gray-900">{{titulo}}</h1>
        <p class="leading-relaxed mt-4">{{parrafo}}</p>
      </div>
      <div class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
        <h2 class="text-gray-900 text-lg font-medium title-font mb-5">{{register | uppercase}}</h2>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
          <div class="relative mb-4">
            <label for="full-name" class="leading-7 text-sm text-gray-600">{{name | uppercase}}</label>
            <input type="text" id="full-name" formControlName="fullName" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            <div *ngIf="fullName?.invalid && (fullName?.dirty || fullName?.touched)" class="text-red-500 text-sm">
              <div *ngIf="fullName?.errors?.['required']">El nombre es obligatorio.</div>
            </div>
          </div>
          <div class="relative mb-4">
            <label for="email" class="leading-7 text-sm text-gray-600">{{correo | uppercase}}</label>
            <input type="email" id="email" formControlName="email" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="text-red-500 text-sm">
              <div *ngIf="email?.errors?.['required']">El correo es obligatorio.</div>
              <div *ngIf="email?.errors?.['email']">Correo no válido.</div>
            </div>
          </div>
          <div class="relative mb-4">
            <label for="user" class="leading-7 text-sm text-gray-600">{{usuario | uppercase}}</label>
            <input type="text" id="user" formControlName="user" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            <div *ngIf="user?.invalid && (user?.dirty || user?.touched)" class="text-red-500 text-sm">
              <div *ngIf="user?.errors?.['required']">El usuario es obligatorio.</div>
            </div>
          </div>
          <div class="relative mb-4">
            <label for="password" class="leading-7 text-sm text-gray-600">{{pass | uppercase}}</label>
            <input type="password" id="password" formControlName="password" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="text-red-500 text-sm">
              <div *ngIf="password?.errors?.['required']">La contraseña es obligatoria.</div>
              <div *ngIf="password?.errors?.['minlength']">La contraseña debe tener al menos 6 caracteres.</div>
            </div>
          </div>
          <div class="relative mb-4">
            <label for="confirmpassword" class="leading-7 text-sm text-gray-600">{{confirmpass | uppercase}}</label>
            <input type="password" id="confirmpassword" formControlName="confirmPassword" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            <div *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)" class="text-red-500 text-sm">
              <div *ngIf="confirmPassword?.errors?.['required']">Confirmar contraseña es obligatorio.</div>
              <div *ngIf="signupForm.errors?.['passwordsNotMatch']">Las contraseñas no coinciden.</div>
            </div>
          </div>
          <button type="submit" class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">{{register | uppercase}}</button>
        </form>
        <p class="text-xs text-gray-500 mt-3">{{parrafo2}}</p>
      </div>
    </div>
  </section-->
  
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-0 mx-auto flex flex-wrap items-center">
      <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
        <div class="flex mb-4 mt-0">
          <span class="flex item-center">
            <img class="mb-4 lg:w-auto lg:h-auto" src="../../../assets/images/slider2.jpg">
          </span>
        </div>
        <h1 class="title-font font-medium text-3xl text-gray-900">{{titulo}}</h1>
        <p class="leading-relaxed mt-4">{{parrafo}}</p>
      </div>
      <div class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
        <h2 class="text-gray-900 text-lg font-medium title-font mb-5">{{register | uppercase}}</h2>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
          <div class="relative mb-4">
            <label for="full-name" class="leading-7 text-sm text-gray-600">{{name | uppercase}}</label>
            <input type="text" id="full-name" formControlName="fullName" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
          <div class="relative mb-4">
            <label for="email" class="leading-7 text-sm text-gray-600">{{correo | uppercase}}</label>
            <input type="email" id="email" formControlName="email" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
          <div class="relative mb-4">
            <label for="user" class="leading-7 text-sm text-gray-600">{{usuario | uppercase}}</label>
            <input type="text" id="user" formControlName="user" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
          <div class="relative mb-4">
            <label for="password" class="leading-7 text-sm text-gray-600">{{pass | uppercase}}</label>
            <input type="password" id="password" formControlName="password" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
          <div class="relative mb-4">
            <label for="confirmpassword" class="leading-7 text-sm text-gray-600">{{confirmpass | uppercase}}</label>
            <input type="password" id="confirmpassword" formControlName="confirmPassword" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
          <button type="submit" class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">{{register | uppercase}}</button>
        </form>
        <p class="text-xs text-gray-500 mt-3">{{parrafo2}}</p>
      </div>
    </div>
  </section>
  