<header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
      routerLink="/" ng-reflect-router-link="/" href="/"  
      >
        
        <span class="ml-3 text-xl"><img class="logo-2" src="assets/images/ShammyLogo.png" alt=""></span>
      </a>
      
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        
        <a class="mr-5 hover:text-gray-900" routerLink="/signin" ng-reflect-router-link="/signin" href="/signin" target="_blank">{{login|uppercase}}</a>
        <a class="mr-5 hover:text-gray-900" routerLink="/signup" ng-reflect-router-link="/signup" href="/signup" target="_blank">{{register|uppercase}}</a>
        <a class="mr-5 hover:text-gray-900" routerLink="/carrito" ng-reflect-router-link="/carrito" href="/carrito" target=":_blank">{{carrito|uppercase}}</a>
      </nav>
      
    </div> 
  </header>

  